@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #ece2e3;
    color: #000000aa;
    font-weight: 400;
    font-size: 1.2rem;
}

h1,
h2 {
    font-weight: 500;
    font-size: 2rem;
}

h2 {
    border-bottom: 3px dotted #cbc1c3;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    text-align: center;
}

.main {
    width: 600px;
    margin: 1em auto;
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.main .about {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 2em;
}

.main .about img {
    flex-basis: 30%;
    max-width: 200px;
    display: inline-block;
    border-radius: 50%;
}

.main .about p {
    flex-basis: 70%;
    line-height: 2em;
}

.main .about p:nth-child(3) {
    font-size: 1rem;
}

.main .about .name {
    background: linear-gradient(transparent 60%, #efe2e2 60%);
    display: inline-block;
    padding: 0 0.5em;
    margin: 0.5em;
}

dt {
    padding: 0.5em;
    background-color: #d7c8aa;
    margin-bottom: 0.5em;
    color: #fff;
}

dd {
    margin-bottom: 2em;
    margin-left: 1em;
}

ul {
    padding: 0;
}

li {
    margin-left: 1em;
    list-style: circle;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #da9fc5;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    body {
        font-size: 1.5em;
    }

    .main {
        width: 100%;
        padding: 1em 0;
    }

    .main .about {
        display: block;
        text-align: center;
    }

    .main .about p:nth-child(3) {
        font-size: 1.5rem;
    }
}
